---
const { title = 'Konbi · Diego Works' } = Astro.props;
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" href="/konbi favicon.png" />
		<meta name="description" content="I design and implement operational systems that work in the real world." />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/fonts/fonts.css">
	<link rel="stylesheet" href="/colors/colors.css">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-sans);
		background: var(--color-bg);
		color: var(--color-text);
	}
</style>
